{% extends 'layouts/base.twig' %}

{% block body %}
	<article class="container mx-auto flex flex-col items-center">
		<div>
			{% if post.thumbnail.src %}
				<img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt }}" />
			{% endif %}

			<h1 class="text-4xl mb-10 max-w-none">
				{{ post.title }}
			</h1>
		</div>

		<div class="prose lg:prose-lg">
			{{ post.content }}
		</div>
	</article>

	{# {% include 'partials/comments/comment-section.twig' %} #}
{% endblock %}
